name: Kivy Build Android
on: [push, pull_request] # 推送/拉取代码时自动构建

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - name: 拉取项目代码
        uses: actions/checkout@v4

      - name: 执行Buildozer构建
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          command: buildozer android debug
          repository_root: .
          workdir: .
          buildozer_version: stable

      - name: 上传构建好的APK包
        uses: actions/upload-artifact@v4
        with:
          name: kivy-hello-apk
          path: ${{ steps.buildozer.outputs.filename }}
